# {{ ansible_managed }}

[Unit]
Description=HoneyD Service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/honeyd -f /etc/honeyd/honeyd.conf \
                          -p /etc/honeyd/nmap-os-db \
                          -m /etc/honeyd/nmap-mac-prefixes \
                          -x /etc/honeyd/xprobe2.conf \
                          -0 /etc/honeyd/pf.os \
                          -a /etc/honeyd/nmap.assoc \
                          -i {{ honeyd_interface }} \
                          {% if honeyd_packet_log %} \
                          -l /var/log/honeyd/packet.log \
                          {% endif %} \
                          {% if honeyd_service_log %} \
                          -s /var/log/honeyd/service.log \
                          {% endif %} \
                          {% if honeyd_dhcp_log %} \
                          -t /var/log/honeyd/dhcp.log \
                          {% endif %} \
                          -u ${USERID} \
                          -g ${GROUPID} \
                          {{ honeyd_network }}

Restart=on-abort


[Install]
WantedBy=multi-user.target
