# {{ ansible_managed }}

[Unit]
Description=HoneyD Service
After=network.target

[Service]
Type=forking
ExecStart={{ honeyd_install_dir }}/bin/honeyd \
                          -f {{ honeyd_install_dir }}/honeyd.conf \
                          -p {{ honeyd_install_dir }}/share/honeyd/nmap-os-db \
                          -m {{ honeyd_install_dir }}/share/honeyd/nmap-mac-prefixes \
                          -x {{ honeyd_install_dir }}/share/honeyd/xprobe2.conf \
                          -0 {{ honeyd_install_dir }}/share/honeyd/pf.os \
                          -a {{ honeyd_install_dir }}/share/honeyd/nmap.assoc \
                          -i {{ honeyd_interface }} \
                          {% if honeyd_packet_log %} \
                          -l /var/log/honeyd/packet.log \
                          {% endif %} \
                          {% if honeyd_service_log %} \
                          -s /var/log/honeyd/service.log \
                          {% endif %} \
                          {% if honeyd_dhcp_log %} \
                          -t /var/log/honeyd/dhcp.log \
                          {% endif %} \
                          -u ${USERID} \
                          -g ${GROUPID} \
                          {{ honeyd_network }}

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
